{% macro tpl_metaData() %}
	<title>The Funding Tracker</title>
	<meta name="keywords" content="funding tracker, vehicle finanical tracker, dealership deal tracking" />
	<meta name="description" content="Dealership tool to keep track of that status of deals." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
{% endmacro %}