{% macro tpl_headerDefault() %}
	<div id="site-top-nav-container">
		<header id="site-top-nav">
			<div class="row">
				<div class="col-6">
				
				</div>
				<div class="col-6">
				
				</div>
			</div>
		</header>
	</div>
{% endmacro %}